/* COMPONENT "CREATE"*/
.containerCreate{
    text-align: center;
    margin-top: 15px;
}

.checkboxStyle{
    display: inline;
}

/*COMPONENT "NewCateegory" */

.containerNewCategory input{
    margin-top: 15px;
    width: 450px;
    height: 40px;
    text-align: center;
    border-color: rgb(48, 83, 240);
    border-radius: 6px;
    outline: none;
}

.containerNewCategory textarea{
    margin-top: 15px;
    width: 450px;
    height: 200px;
    text-align: center;
    border-color: rgb(48, 83, 240);
    border-radius: 6px;
    outline: none;
}


.containerNewCategory input:focus{
    border: 1px solid rgb(9, 245, 9);
    box-shadow: 0 0 1em rgb(9, 245, 9);
}

.containerNewCategory textarea:focus{
    border: 1px solid rgb(9, 245, 9);
    box-shadow: 0 0 1em rgb(9, 245, 9);
}


/* Component "Register" */
 #buttonRegister{
    width: 160px;
    height: 35px;
    padding: 4px 4px 14px 4px;
    color: #fff;
    font-weight: bold;
    margin: 10px auto 0 auto;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(9, 245, 9);
}

 #buttonRegister:hover{
    box-shadow: 0 0 1em rgb(32, 22, 173);
}



/*COMPONENT "NewMonitorang */
.containerNewMonitorang .list{
    width: 250px;
    height: 30px;
    margin-top: 15px;
    border-color: rgb(48, 83, 240);
    border-radius: 6px;
    outline: none;
}

.containerNewMonitorang .list:focus{
    border: 2px solid rgb(9, 245, 9);
    box-shadow: 0 0 1em rgb(9, 245, 9);
    
}


.containerNewMonitorang textarea{
    margin-top: 15px;
    width: 450px;
    height: 200px;
    text-align: center;
    border-color: rgb(48, 83, 240);
    border-radius: 6px;
    outline: none;
}

.containerNewMonitorang textarea:focus{
    border: 1px solid rgb(9, 245, 9);
    box-shadow: 0 0 1em rgb(9, 245, 9);
}

/* Responsive Settings */
@media (max-width: 595px){

    
    .containerNewCategory input{
        width: 300px;
        height: 30px;
        
    }
    
    .containerNewCategory textarea{
        width: 300px;
        height: 150px;
            
        
    }

    .containerNewMonitorang textarea{
       
        width: 300px;
        height: 150px;
            
      
    }
    
}
    