@import url('https://fonts.googleapis.com/css?family=Poppins');

.tableStyle{
    box-shadow: 0 0 1em black;
}

.tableHeadText{
font-family: Poppins;
}

.iconsStyle{
    color:rgb(14, 95, 218);
   
}

.iconsStyle:hover{
    color: rgb(9, 245, 9);
    font-size: 18px;
}